@media screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
  .checkbox{
    display: none;
  }
  #caixa{
      color: white;
      background-color: white;
  }
  #cap{
      text-align: center;
      background-color: black;

  }
  #cap h2{
      margin-top: 0;
  }
  #cap #menu{
      height: 30px;
      width: 70%;
      margin: 0 250px auto;
  }
  #cos{
      overflow: hidden;
      float: left;
      width: 60%;
  }
  #opina{
      float: left;
      width: 40%;
  }
  #peu{
      clear: left;
      text-align: center;
      background-color: black;
      height: 50px;
  }
  #fondo{
      width: 100%;
  }
  .menu{
      margin: 5px;
      text-align: center;
      float: left;
      width: 15%;
  }
  .noticia{
      background-color: yellowgreen;
      text-align: center;
      height: 200px;
      width: 45%;
      margin: 10px 10px auto;
      float: left;
      margin-bottom: 10px;
      border: 2px solid black;
      color: black;
  }
  .opinar{
      height: 50px;
      width: 90%;
      text-align: center;
      border-radius: 10px;
      border: 5px solid black;
      color: black;
  }
}
